In [71]:
import numpy as np
import pandas as pd

In [72]:
df = pd.DataFrame(columns=["k", "x0", "x1", "d0", "d1", "d_norm", "alpha", "f_val"])

In [73]:
def f(x, Q, C):
    return 0.5 * x.T.dot(Q).dot(x) - C.T.dot(x) + 10

In [83]:
def steepest_descent(Q, C, x0, epsilon=1e-6, max_iterations=1000):
    x = np.array(x0)
    iteration = 0
    
    while iteration < max_iterations:
        gradient = Q.dot(x) - C

        # step_size update 
        nominator = gradient.T.dot(gradient)
        denominator = gradient.T.dot(Q).dot(gradient)
        step_size = nominator / denominator

        d_norm = np.sqrt((gradient[0]**2 + gradient[1]**2))
        new_row = [iteration, x[0], x[1], gradient[0], gradient[1], d_norm, step_size, f(x, Q, C)]
        df.loc[len(df.index)] = new_row
        
        if np.linalg.norm(gradient) < epsilon:
            break
        
        iteration += 1
        x = x - step_size * gradient
    
    return x, iteration

In [84]:
Q1 = np.array([[20, 5], [5, 2]])
C1 = np.array([14, 6])
x1 = np.array([40, -100])

df = pd.DataFrame(columns=["k", "x0", "x1", "d0", "d1", "d_norm", "alpha", "f_val"])

result1, iterations1 = steepest_descent(Q1, C1, x1)
print("Result 1:", result1)
print("Total Iterations:", iterations1)

Result 1: [-0.13333307  3.33333229]
Total Iterations: 89

In [85]:
f(result1, Q1, C1)

0.9333333333337386

In [86]:
df.head(10)

,k,x0,x1,d0,d1,d_norm,alpha,f_val
0,0.0,40.000000,-100.000000,286.000000,-6.000000,286.062930,0.050550,6050.000000
1,1.0,25.542693,-99.696700,-1.629649,-77.679937,77.697029,0.450935,3981.695128
2,2.0,26.277558,-64.668130,188.210502,-3.948472,188.251915,0.050550,2620.587793
3,3.0,16.763512,-64.468535,-1.072437,-51.119510,51.130758,0.450935,1724.872077
4,4.0,17.247111,-41.416980,123.857318,-2.598405,123.884571,0.050550,1135.420663
5,5.0,10.986120,-41.285630,-0.705748,-33.640660,33.648062,0.450935,747.515255
6,6.0,11.304366,-26.115894,81.507860,-1.709955,81.525795,0.050550,492.242977
7,7.0,7.184142,-26.029455,-0.464438,-22.138201,22.143072,0.450935,324.253734
8,8.0,7.393573,-16.046575,53.638585,-1.125285,53.650387,0.050550,213.703595
9,9.0,4.682141,-15.989692,-0.305637,-14.568678,14.571884,0.450935,140.952906

In [87]:
df.tail(10)

,k,x0,x1,d0,d1,d_norm,alpha,f_val
80,80.0,-0.133331,3.333328,1.539851e-05,-3.230458e-07,1.540190e-05,0.050550,0.933333
81,81.0,-0.133332,3.333328,-8.774187e-08,-4.182362e-06,4.183283e-06,0.450935,0.933333
82,82.0,-0.133332,3.333330,1.013343e-05,-2.125895e-07,1.013566e-05,0.050550,0.933333
83,83.0,-0.133332,3.333330,-5.774105e-08,-2.752323e-06,2.752929e-06,0.450935,0.933333
84,84.0,-0.133332,3.333331,6.668597e-06,-1.399006e-07,6.670064e-06,0.050550,0.933333
85,85.0,-0.133333,3.333331,-3.799815e-08,-1.811245e-06,1.811644e-06,0.450935,0.933333
86,86.0,-0.133333,3.333332,4.388461e-06,-9.206562e-08,4.389427e-06,0.050550,0.933333
87,87.0,-0.133333,3.333332,-2.500577e-08,-1.191942e-06,1.192204e-06,0.450935,0.933333
88,88.0,-0.133333,3.333332,2.887953e-06,-6.058641e-08,2.888588e-06,0.050550,0.933333
89,89.0,-0.133333,3.333332,-1.645577e-08,-7.843916e-07,7.845642e-07,0.450935,0.933333

In [88]:
Q2 = np.array([[20, 5], [5, 16]])
C2 = np.array([14, 6])
x2 = np.array([40, -100])

df = pd.DataFrame(columns=["k", "x0", "x1", "d0", "d1", "d_norm", "alpha", "f_val"])

result2, iterations2 = steepest_descent(Q2, C2, x2)
print("Result 2:", result2)
print("Total Iterations:", iterations2)

Result 2: [0.65762714 0.16949147]
Total Iterations: 14

In [89]:
f(result2, Q2, C2)

4.88813559322036

In [90]:
df.head(15)

,k,x0,x1,d0,d1,d_norm,alpha,f_val
0,0.0,40.000000,-100.000000,2.860000e+02,-1.406000e+03,1.434793e+03,0.070395,76050.000000
1,1.0,19.867118,-1.025060,3.782170e+02,7.693462e+01,3.859625e+02,0.045883,3591.615327
2,2.0,2.513241,-4.555081,1.348941e+01,-6.631509e+01,6.767315e+01,0.070395,174.058930
3,3.0,1.563658,0.113150,1.783890e+01,3.628682e+00,1.820422e+01,0.045883,12.867208
4,4.0,0.745149,-0.053347,6.362388e-01,-3.127803e+00,3.191857e+00,0.070395,5.264475
5,5.0,0.700361,0.166834,8.413858e-01,1.711496e-01,8.586165e-01,0.045883,4.905886
6,6.0,0.661755,0.158981,3.000870e-02,-1.475253e-01,1.505464e-01,0.070395,4.888973
7,7.0,0.659643,0.169366,3.968462e-02,8.072405e-03,4.049732e-02,0.045883,4.888175
8,8.0,0.657822,0.168996,1.415384e-03,-6.958145e-03,7.100641e-03,0.070395,4.888137
9,9.0,0.657722,0.169486,1.871756e-03,3.807413e-04,1.910088e-03,0.045883,4.888136
10,10.0,0.657636,0.169468,6.675768e-05,-3.281864e-04,3.349073e-04,0.070395,4.888136
11,11.0,0.657632,0.169491,8.828284e-05,1.795796e-05,9.009078e-05,0.045883,4.888136
12,12.0,0.657628,0.169490,3.148678e-06,-1.547917e-05,1.579616e-05,0.070395,4.888136
13,13.0,0.657627,0.169492,4.163929e-06,8.470013e-07,4.249202e-06,0.045883,4.888136
14,14.0,0.657627,0.169491,1.485099e-07,-7.300870e-07,7.450384e-07,0.070395,4.888136